* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding: 0 calc(50vw - 570px);
}

.heading {
    background-color: #222222;
    color: #E8E8E8;
    min-height: 75px;
    display: grid;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    gap: 41px;
}

.menu__buttons {
    margin-right: 10px;
    width: 160px;
    display: grid;
    grid-template-columns: 32px 25px 29px 42px auto;
    justify-content: space-between;
    align-items: center;
}

.menu__button1 {
    grid-column: 1;
}

.menu__button2 {
    grid-column: 3;
}

.menu__button3 {
    grid-column: 5;
}

.brand {
    background-color: #F1E4E6;
    height: 764px;
    display: flex;
    gap: 64px;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
}

.brand__block {
    margin: 290px 101px 381px auto;
    gap: 16px;
    display: grid;
    grid-template-columns: 12px auto;
    align-items: center;
}

.brand__name {
    width: 337px;
    color: #222;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.brand__h2 {
    font-size: 44px;
}

.brand__fassion {
    color: #F16D7F;
}

.brand__image {
    height: 764px;
    width: 800px;
    background-image: url("../img/heading-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }

.offers {
    padding-top: 65px;
    padding-bottom: 96px;
    background-color: #fff;
}

.offers__container {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    gap: 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.offers__text {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(33, 22, 22, 0.70);
}

.offers__block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.offers__block1 {
    background-image: url("../img/offers01.png");
}

.offers__block2 { 
    background-image: url("../img/offers02.png");
}

.offers__block3 {  
    background-image: url("../img/offers03.png");
}

.offers__block4 {  
    grid-column: 1 / span 3;
    background-image: url("../img/offers04.png");
}

.offers__bold {
    font-size: 24px;
    font-weight: 900;
    color: #F16D7F;
}

.products {
    display: block;
}

.products__h2 {
    text-align: center;
    margin-bottom: 6px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.products__p {
    text-align: center;
    margin-bottom: 48px;
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.products__container {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    background-color: #FFF;
}

.products__block {
    display: flex;
    flex-direction: column;
    width: 360px;
    box-sizing: border-box;
}

.products__image {
    height: 420px;
    max-width: 360px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.product1{
    background-image: url("../img/products01.png");

}

.product2{
    background-image: url("../img/products02.png");

}

.product3{
    background-image: url("../img/products03.png");

}

.product4{
    background-image: url("../img/products04.png");

}

.product5{
    background-image: url("../img/products05.png");

}

.product6{
    background-image: url("../img/products06.png");

}

.cart__block{
    display: none;
}

.products__block:hover .cart__block{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: rgba(58, 56, 56, 0.86);
}

.cart__wrp {
    width: 139px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 11px;
    outline: 1px solid #FFF;
}

.products__block__text {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    background-color: #F3EEEF;
}

.product__name {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product__p {
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.product__buy {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttoon__block {
    margin-top: 48px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__button {
    width: 212px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F16D7F;
    outline: 1px solid #F16D7F;
}

.products__button:hover {
    background-color: #F16D7F;
    color: #FFF;
}

.features {
    padding-top: 103px;
    padding-bottom: 104px;
    background-color: #222224;
}

.features__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.feature {
    display: grid;
    grid-template-rows: 60px 40px auto;
    align-items: start;
    width: 360px;
}

.feature__logo {
    justify-self: center;
}

.feature__name {
    justify-self: center;
    color: #FBFBFB;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.feature__text {
    color: #FBFBFB;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
}

.contacts {
    justify-content: center;
    width: 100vw;
}

.contacts_background {
    position: relative;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/contacts_background.png");
}

.contacts__container {
    position: relative;
    padding-top: 87px;
    padding-bottom: 126px;
    background: rgba(244, 244, 244, 0.70);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.about__photo {
    width: 96px;
    height: 96px;
    border-radius: 48px;
    background-image: url(../img/about__photo.png);
    background-size: 100%;
    background-position: center;
}

.about__text {
    height: 99px;
    width: 360px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about__text i{
    font-style: italic;
}

.subscribe__block {
    width: 557px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
    text-transform: uppercase;
}

.subscribe__h2 {
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 167.2%; 
}

.subscribe__block p {
    margin-bottom: 32px;
}

.subscribe__button__block {
    max-width: 356px;
    width: 100%;
    height: 49px;
    border-radius: 24px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 256fr 100fr;
}

.subscribe__email {
    padding-left: 22px;
    max-width: 256px;
    width: auto;
    text-align: left;
    background-color: #E1E1E1;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #222224;;
}

.subscribe__button {
    width: 100%;
    text-align: center;
    border: none;
    background-color: #F16D7F;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer {
    height: 79px;
    background-color: #222224;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    padding-left: 5px;
    color: #FBFBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
}

.socials {
    width: 148px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socials__media {
    width: 32px;
    height: 32px;
    padding: auto 8px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials__icon__hover{
    display: none;
}

.socials__media:hover{
    background-color: #F16D7F;
}

.socials__media:hover .socials__icon{
    display: none;
}

.socials__media:hover .socials__icon__hover{
    display: block;
}

@media screen and (max-width: 1024px) {
    .center {
        padding: 0 16px;
        width: 100vw;
    }

    .menu {
        padding: 0 16px;
    }

    .heading {
        width: auto;
    }

    .brand {
        height: fit-content;
        width: auto;
        gap: 39px;
        align-items: center;
    }

    .brand__block {
        margin: 0;
        display: grid;
        align-items: start;
    }

    .brand__image {
        height: 50vh;
        width: 50vw;
        background-position: top;    
    }

    .offers {
        padding-top: 65px;
        padding-bottom: 110px;
        width: auto;
    }

    .offers__container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: calc((13/54) * 100vw) calc((116/735) * 100vw);
        gap: 20px;
    }

    .offers__block {
        width: 100%;
        height: 100%;
    }

    .products {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .products__container {
        align-self: center;
        display: grid;
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
        background-color: #FFF;
    }

    .buttoon__block {
        margin-top: 32px;
        margin-bottom: 70px;
    }

    .features{
        width: auto;
    }

    .contacts {
        width: auto;
    }

    .contacts__container {
        flex-direction: column;
        padding-top: 64px;
        padding-bottom: 140px;
        gap: 48px;
        width: auto;
    }

    .contacts_background {
        background-position-x: -330px;
        background-position-y: 64px;
    }

    .features__container {
        padding-top: 48px;
        padding-bottom: 64px;
        flex-direction: column;
        gap: 48px;
    }

    .footer {
        padding: 0 32px;
        width: auto;
    }
}


@media screen and (max-width: 767px) {
    .center {
        padding: 0;
        width: auto;
        align-self: center;
    }
    
    .menu {
        padding: 0 16px;
    }

    .menu__buttons{
        display: block;
        justify-content: end;
        align-items: center;
        width: 32px;
        padding: 0;
        margin-right: 0;
    }

    .menu__button2 {
        display: none;
    }

    .menu__button3 {
        display: none;
    }

    .brand {
        max-width: 767px;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 148px 58px 149px;
    }

    .brand__block {
        height: 61px;
        padding-left: 0;
    }

    .brand__line {
        height: 61px;
        width: 12px;
    }

    .brand__h2 {
        font-size: 32px;
        font-weight: 900;
    }

    .brand__name {
        font-size: 20px;
        width: 236px;
    }

    .brand__image {
        display: none;
    }

    .offers {
        padding-top: 54px;
        padding-bottom: 64px;
    }

    .offers__container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: center;
        align-items: center;
    }

    .offers__block {
        height: 247px;
        max-width: 343px;
        width: calc(100vw - 32px);
    }

    .offers__block4 {
        height: 111px;
    }

    .products__container {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .products__image {
        max-width: 360px;
        width: calc(100vw-16px);
        align-self: center;
    }

    .products__p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 0;
    }

    .products__block {
        max-width: 359px;
        width: auto;
    }

    .products__block__text {
        background-color: #F8F8F8;
    }

    .features__container {
        padding-bottom: 81px;
    }

    .feature {
        max-width: 360px;
        width: auto;
    }

    .contacts__container {
        padding-top: 64px;
        padding-bottom: 110px;
        gap:60px
    }

    .about__text {
        max-width: 360px;
        width: auto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .subscribe__block {
        padding: auto 11px;
        width: auto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 153.2%;
    }

    .footer {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 40px;
        padding-top: 43px;
        padding-bottom: 8px;
    }
}
